.historyBtn {
  margin-left: 5px;
}

.logout-btn {
  color: black;
}

.lobby-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  // border-radius: 10px;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 40vh;
  min-height: 40vh;
  max-width: 60vh;
  max-height: 60vh;
  background: white;
}

.main {
  // border: 3px solid lightblue;
  border-radius: 3px;
  margin-top: 10px;
  // max-height: 300px;
  min-height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

.msnCard {
  display: flex;
  flex-direction: column;
  // padding: 2px;
  padding-left: 5px;
  // margin: 5px;
  // border-radius: 5px;
  // border: 1px solid lightgrey;
}
#typing {
  font-size: 9px;
  color: lightgrey;
}

.msnCard-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  // font-size: 10px;
}

#msnCard-body {
  margin: 2px;
}
#msnCard-author {
  font-weight: bold;
}
#msnCard-time {
  margin-left: 5px;
  font-size: 10px;
}
#msnCard-delete {
  margin-left: 5px;
  font-size: 10px;
}

#msnCard-self-delete {
  margin-left: 5px;
  font-size: 10px;
  color: black;
}
.editing-box {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  // min-height: px;
}

.input-box {
  // border: 2px solid lightgrey;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: inherit;
  z-index: 1;
}

.input-area {
  text-align: left;
  font-style: italic;
  font-size: 12px;
  flex: 1;
  border: 1px solid lightblue;
  color: black;
  min-height: 20px;
  max-height: 90px;
  overflow-y: visible;
  resize: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.inputBtn {
  min-height: 20px;
  margin: 0px;
  font-size: 12px;
}
.ghost {
  position: absolute;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  left: 0;
  z-index: -1;
}

#ghost-div {
  font-size: 2px;
  visibility: hidden;
  height: 5px;
}

h1 {
  color: lightblue;
}
//
// h5,
// p {
//   display: inline;
//

ul {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#msnCard-delete {
  font-family: helvetica;
  font-size: 10px;

  margin-left: 5px;
  color: lightgrey;
  border: none;
  // visibility: hidden;
}
#msnCard-delete:hover {
  color: lightblue;
  cursor: pointer;
}
