@mixin btn($color:$lightblue) {
  margin: 20px;
  padding: 5px;
  color: Black;
  min-height: 25px;
  min-width: 25px;
  border: 2px solid lightblue;
  z-index: 100;

  &:hover {
    background-color: #66c2ff;
  }
}

@mixin blueBtn($color:$lightblue) {
  background-color: lightblue;
  margin: 0px;
  &:hover {
    background-color: #66c2ff;
  }
}
