@mixin dropdown($color:$utli, $background:$antiutli) {
  display: flex;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.01), inset 0 0 10px rgba(0, 0, 0, 0.07);
  margin-left: 5px;
  &:focus,
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  }

  &:after {
    content: '▾';
    float: right;
    margin-right: 5px;
    top: 0;
    right: 12px;
    z-index: 1;
    color: $color;
    font-size: 14px;

    .ie & {
      display: none;
    }
  }
}

@mixin landing() {
  // border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  height: 40vh;
  width: 40vh;
  padding: 20px;
  margin-top: 20vh;
}

@mixin landingInput {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: stretch;
  // margin: 10px;
  border: 1px solid lightblue;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 80%;
  & input {
    color: black;
    width: 100%;
  }
  & button {
    @include blueBtn;
  }
}

@mixin title($color:$lightblue) {
  color: $color;
}

@mixin formValidation($color:$lightpink) {
  color: $color;
  color: 12px;
}

@mixin info ($color: white) {
  display: flex;
  color: $color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
