[contenteditable='true']:active,
[contenteditable='true']::before {
  // content: 'Edit Me!';
}

[contenteditable='true']:focus::after {
  border: none;
  outline: none;
}
[contenteditable='true']:focus > style {
  // font-size: 0.75em;
  color: blue;
  // font-family: courier, sans-serif;
  background: #fff;
  // line-height: 1.5;
  position: relative;
  // right: -36em;
  // top: -2em;
}

body {
  font-family: helvetica;
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.historyBtn {
  margin-left: 5px;
}
.container {
  display: flex;
  border: 1px solid lightgrey;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test {
  color: pink;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid lightgrey;
  min-width: 100vh;
  max-height: 50vh;
}

.main {
  max-height: inherit;
  min-height: 250px;
  overflow-x: scroll;
}

.msnCard {
  border: 1px solid lightgrey;
}

.editing-box {
  display: flex;
  flex-direction: column-reverse;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  z-index: 1;

  // bottom: 100%;
}

.dropdown {
  display: flex;
  width: 30px;
  flex-direction: column-reverse;
  border: 1px solid lightgrey;
}

.input-area {
  flex: 1;
  border: 1px solid lightgrey;
  color: black;
  min-height: 20px;
  font-style: italic;
  max-height: 50px;
  overflow-y: visible;
  resize: none;
}

.input-ghost {
  flex: 1;
  border: 1px solid lightgrey;
  color: black;
  font-style: italic;
  min-height: 20px;
  max-height: 50px;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;

  top: 0;
}

h1 {
  color: lightblue;
}

h5,
p {
  display: inline;
}

ul {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  // max-height: inherit;
  // overflow-y: scroll;
  // position: absolute;
  background-color: #f1f1f1;
  min-width: 30px;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  bottom: 100%;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  // padding: 2px;
  border: none;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
