body {
  font-family: helvetica;
}

.container {
  display: flex;
  border: 1px solid lightgrey;
  min-height: 100vh;
  flex-direction: column;
  margin: 20 px;
  justify-content: center;
  align-items: center;
}
.test {
  color: pink;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid lightgrey;
  min-width: 100vh;
  max-height: 50vh;
}

.main {
  max-height: inherit;
  min-height: 250px;
  overflow-x: scroll;
}

.msnCard {
  border: 1px solid lightgrey;
}

.dropdown {
  border: 1px solid lightgrey;
}

.input-area {
  min-height: 35px;
  border: 1px solid lightgrey;
  color: lightgrey;
  font-style: italic;
}

h1 {
  color: lightblue;
}

h5,
p {
  display: inline;
}

input {
  background: lightblue;
}
